<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/style.css" | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    {%- feed_meta -%}
  </head>
  <body>
    <header class="site-header" role="banner">
      <h1>
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
          <img src="/images/logo-fond-transparent-petit.png" alt="FC Plouay" fetchpriority="high"/>
        </a>
      </h1>
      <nav>
        <ul>
          <li><a href="/">Actualités</a></li>
          <li><a href="/club">Club</a></li>
          <li><a href="/partenaires">Partenaires</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>

    <main class="page-content" aria-label="Content">
      {{ content }}
    </main>

    <footer class="site-footer h-card">
      <h2 class="footer-heading">
        <img src="/images/logo-fond-transparent-petit.png" alt="FC Plouay"/>
      </h2>
      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
      <a href="/contact">Contact</a>
      <div class="social">
        <ul>
          <li>
            <a class="fa-solid fa-square-rss rss-subscribe" href="{{ "/feed.xml" | relative_url }}"></a>
          </li>
          <li>
            <a href="https://www.facebook.com/FcPlouay">
              <i class="fa fa-brands fa-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </body>

</html>
